<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!-- Updated connection strings to run on local machine bwitt Aug. 8 2016 -->
  <connectionStrings>
    <add name="ICPClientLinq.Properties.Settings.TevaICPConnectionString"
      connectionString=" Data Source=BILL_PC_2011;Initial Catalog=analytical;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ICPClientLinq.Properties.Settings.ICPClientConnectionString"
      connectionString="Data Source=BILL2014;Initial Catalog=ICPClient;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ICPClientLinq.Properties.Settings.RiverwatchConnectionString"
      connectionString="Data Source=BILL2014\SQLEXPRESS2008;Initial Catalog=dbRiverwatchWaterData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!--changed exporfdir to c:\shared\ so the files would be built under c:\shared rather than have large 
    name like c:\sharedmetals......cvs   bwitt dewc 2011-->
    <add key="exportDir" value="C:\Shared\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="baseYear" value="1996"/>
    <add key="WebServiceAPI" value=""/>
  </appSettings>
  
  <!--origional xml, removed to run on local machine bwitt dec 3, 2011
 
  
   <connectionStrings>
    <add name="ICPClientLinq.Properties.Settings.TevaICPConnectionString"
      connectionString="Data Source=ADCC-LAWLESS\DNR_DEVL;Initial Catalog=TevaICP;Persist Security Info=True;User ID=sa;Password=DNR_DEVL"
      providerName="System.Data.SqlClient" />
    <add name="ICPClientLinq.Properties.Settings.RiverwatchConnectionString"
      connectionString="Data Source=UDS-DB\CWD_DEVL;Initial Catalog=riverwatch;User ID=sa;Password=CWD_DEVL"
      providerName="System.Data.SqlClient" />
    <add name="ICPClientLinq.Properties.Settings.ICPClientConnectionString"
      connectionString="Data Source=LIBBYLAPTOP\SQLEXPRESS;Initial Catalog=ICPClient;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  OK-->
  
  
  <!--Comment out below system.web to allow debug--> 
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
</configuration>